#  Toronto Police Services Killed or Seriously Injured Dataset

## Import libraries

In [ ]:
import warnings
import json
import sys
import csv
import os

import pandas as pd

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

import scipy
import numpy as np
np.random.seed(1612)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
KSI = pd.read_csv('/content/drive/My Drive/Colab Notebooks/SAS Safe Roads - Toronto Police 2022/Toronto Police KSI.csv')

In [ ]:
KSI.head()

              X             Y   INDEX_  ...  HOOD_ID         NEIGHBOURHOOD ObjectId
0 -8.844611e+06  5.412414e+06  3387730  ...       88  High Park North (88)        1
1 -8.844611e+06  5.412414e+06  3387731  ...       88  High Park North (88)        2
2 -8.816480e+06  5.434843e+06  3388101  ...      131           Rouge (131)        3
3 -8.816480e+06  5.434843e+06  3388102  ...      131           Rouge (131)        4
4 -8.822759e+06  5.424516e+06  3387793  ...      138   Eglinton East (138)        5

[5 rows x 57 columns]

### Unique and value counts

In [ ]:
KSI.value_counts()

X              Y             INDEX_    ACCNUM      YEAR  DATE                    TIME  HOUR  STREET1               STREET2                     OFFSET         ROAD_CLASS      DISTRICT               WARDNUM  DIVISION  LATITUDE   LONGITUDE   LOCCOORD      ACCLOC            TRAFFCTL        VISIBILITY  LIGHT             RDSFCOND  ACCLASS           IMPACTYPE              INVTYPE            INVAGE    INJURY   FATAL_NO  INITDIR  VEHTYPE                    MANOEUVER            DRIVACT           DRIVCOND  PEDTYPE                                                  PEDACT                      PEDCOND            CYCLISTYPE  CYCACT  CYCCOND  PEDESTRIAN  CYCLIST  AUTOMOBILE  MOTORCYCLE  TRUCK   TRSN_CITY_VEH  EMERG_VEH  PASSENGER  SPEEDING  AG_DRIV  REDLIGHT  ALCOHOL  DISABILITY  POLICE_DIVISION  HOOD_ID  NEIGHBOURHOOD               ObjectId
-8.865305e+06  5.426688e+06  5407885   1059416     2008  2008/09/03 04:00:00+00  1900  19    ALBION RD             INDIAN LINE Aven W          <Null>         Major Arterial  Etobicoke York         1        23        43.749045  -79.638390  Mid-Block     <Null>            No Control      Clear       Daylight          Dry       Non-Fatal Injury  Rear End               Vehicle Owner      unknown   <Null>   <Null>    <Null>   Other                      <Null>               <Null>            <Null>    <Null>                                                   <Null>                      <Null>             <Null>      <Null>  <Null>   <Null>      <Null>   Yes         <Null>      <Null>  <Null>         <Null>     Yes        <Null>    Yes      <Null>    <Null>   <Null>      D23              1        West Humber-Clairville (1)  3432        1
-8.833234e+06  5.418093e+06  6723136   1276036     2011  2011/12/10 05:00:00+00  1533  15    O CONNOR DR           PAPE AVE                    <Null>         Major Arterial  Toronto and East York  14       54        43.693245  -79.350290  Intersection  At Intersection   Traffic Signal  Clear       Daylight          Dry       Non-Fatal Injury  Pedestrian Collisions  Pedestrian         30 to 34  Minimal  <Null>    East     Other                      <Null>               <Null>            <Null>    Vehicle turns left while ped crosses with ROW at inter.  Crossing with right of way  Normal             <Null>      <Null>  <Null>   Yes         <Null>   Yes         <Null>      <Null>  <Null>         <Null>     <Null>     <Null>    Yes      <Null>    <Null>   <Null>      D54              58       Old East York (58)          7857        1
               5.427613e+06  5309566   1015121     2008  2008/01/04 05:00:00+00  1540  15    YORK MILLS RD         UPJOHN RD                   <Null>         Major Arterial  North York             16       33        43.755045  -79.350290  Mid-Block     <Null>            No Control      Clear       Daylight          Dry       Non-Fatal Injury  Approaching            Driver             55 to 59  Minor    <Null>    West     Automobile, Station Wagon  Going Ahead          Lost control      Fatigue   <Null>                                                   <Null>                      <Null>             <Null>      <Null>  <Null>   <Null>      <Null>   Yes         <Null>      <Null>  <Null>         <Null>     <Null>     <Null>    <Null>   <Null>    <Null>   <Null>      D33              42       Banbury-Don Mills (42)      2184        1
                             5309567   1015121     2008  2008/01/04 05:00:00+00  1540  15    YORK MILLS RD         UPJOHN RD                   <Null>         Major Arterial  North York             16       33        43.755045  -79.350290  Mid-Block     <Null>            No Control      Clear       Daylight          Dry       Non-Fatal Injury  Approaching            Driver             15 to 19  Major    <Null>    East     Automobile, Station Wagon  Going Ahead          Driving Properly  Normal    <Null>                                                   <Null>                      <Null>             <Null>      <Null>  <Null>   <Null>      <Null>   Yes         <Null>      <Null>  <Null>         <Null>     <Null>     <Null>    <Null>   <Null>    <Null>   <Null>      D33              42       Banbury-Don Mills (42)      2185        1
-8.833230e+06  5.418082e+06  80891695  7002038270  2017  2017/11/10 05:00:00+00  1850  18    O CONNOR DR           PAPE AVE                    <Null>         Major Arterial  Toronto and East York  14       54        43.693171  -79.350253  Intersection  At Intersection   Traffic Signal  Clear       Dark, artificial  Dry       Non-Fatal Injury  Pedestrian Collisions  Pedestrian         50 to 54  Major    <Null>    West     <Null>                     <Null>               <Null>            <Null>    Vehicle turns left while ped crosses with ROW at inter.  Crossing with right of way  Normal             <Null>      <Null>  <Null>   Yes         <Null>   Yes         <Null>      <Null>  <Null>         <Null>     <Null>     <Null>    Yes      <Null>    <Null>   <Null>      D54              58       Old East York (58)          14155       1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       ..
-8.843119e+06  5.409045e+06  7848921   1369177     2013  2013/08/03 04:00:00+00  2048  20    LAKE SHORE BLVD W     DOWLING S LAKESHORE W RAMP  <Null>         Major Arterial  Toronto and East York  4        14        43.634444  -79.439090  Mid-Block     <Null>            No Control      Clear       Dusk              Dry       Fatal             Other                  Truck Driver       50 to 54  None     <Null>    West     Truck-Tractor              Going Ahead          Driving Properly  Unknown   <Null>                                                   <Null>                      <Null>             <Null>      <Null>  <Null>   <Null>      <Null>   <Null>      <Null>      Yes     <Null>         <Null>     Yes        <Null>    <Null>   <Null>    <Null>   <Null>      D14              85       South Parkdale (85)         9067        1
                             7848922   1369177     2013  2013/08/03 04:00:00+00  2048  20    LAKE SHORE BLVD W     DOWLING S LAKESHORE W RAMP  <Null>         Major Arterial  Toronto and East York  4        14        43.634444  -79.439090  Mid-Block     <Null>            No Control      Clear       Dusk              Dry       Fatal             Other                  Other              unknown   None     <Null>    <Null>   <Null>                     <Null>               <Null>            <Null>    <Null>                                                   <Null>                      <Null>             <Null>      <Null>  <Null>   <Null>      <Null>   <Null>      <Null>      Yes     <Null>         <Null>     Yes        <Null>    <Null>   <Null>    <Null>   <Null>      D14              85       South Parkdale (85)         9068        1
                             7848923   1369177     2013  2013/08/03 04:00:00+00  2048  20    LAKE SHORE BLVD W     DOWLING S LAKESHORE W RAMP  <Null>         Major Arterial  Toronto and East York  4        14        43.634444  -79.439090  Mid-Block     <Null>            No Control      Clear       Dusk              Dry       Fatal             Other                  Passenger          15 to 19  Fatal    28        <Null>   <Null>                     <Null>               <Null>            <Null>    <Null>                                                   <Null>                      <Null>             <Null>      <Null>  <Null>   <Null>      <Null>   <Null>      <Null>      Yes     <Null>         <Null>     Yes        <Null>    <Null>   <Null>    <Null>   <Null>      D14              85       South Parkdale (85)         9069        1
               5.420018e+06  5253844   1110977     2009  2009/06/24 04:00:00+00  2144  21    WILLIAM R ALLEN RD S  RIDELLE AVE                 <Null>         <Null>          North York             8        13        43.705745  -79.439090  Mid-Block     <Null>            No Control      Clear       Dark              Dry       Non-Fatal Injury  Rear End               Motorcycle Driver  35 to 39  Major    <Null>    South    Motorcycle                 Slowing or Stopping  Driving Properly  Normal    <Null>                                                   <Null>                      <Null>             <Null>      <Null>  <Null>   <Null>      <Null>   Yes         Yes         <Null>  <Null>         <Null>     <Null>     <Null>    Yes      <Null>    <Null>   <Null>      D13              31       Yorkdale-Glen Park (31)     4727        1
-8.808254e+06  5.433050e+06  80497763  6000168422  2016  2016/01/28 05:00:00+00  2130  21    48MILLDOCK            <Null>                      172 m East of  Local           Scarborough            25       43        43.790312  -79.125896  Mid-Block     Non Intersection  No Control      Snow        Dark, artificial  Wet       Non-Fatal Injury  Pedestrian Collisions  Pedestrian         55 to 59  Major    <Null>    Unknown  <Null>                     <Null>               <Null>            <Null>    Other / Undefined                                        Other                       Had Been Drinking  <Null>      <Null>  <Null>   Yes         <Null>   <Null>      <Null>      <Null>  <Null>         <Null>     <Null>     <Null>    <Null>   <Null>    <Null>   <Null>      D43              131      Rouge (131)                 12834       1
Length: 16860, dtype: int64

In [ ]:
KSI['ACCNUM'].unique()

array([ 892658,  892810,  892682, ..., 1630486, 1636966, 1650701])

In [ ]:
KSI['ACCNUM'].value_counts()

1311498       19
1252228       18
4002717713    18
1038340       16
987443        14
              ..
1165411        1
8001736723     1
1322569        1
9001128278     1
1209188        1
Name: ACCNUM, Length: 6002, dtype: int64

In [ ]:
KSI['YEAR'].unique()

array([2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
       2017, 2018, 2019, 2020])

In [ ]:
KSI['YEAR'].value_counts()

2006    1483
2007    1474
2012    1348
2009    1242
2008    1239
2013    1232
2010    1190
2011    1179
2018    1074
2016    1006
2017     980
2019     935
2015     929
2014     916
2020     633
Name: YEAR, dtype: int64

In [ ]:
KSI['STREET1'].unique()

array(['BLOOR ST W', 'MORNINGSIDE AVE', 'EGLINTON AVE E', ...,
       'ST CLAIR AV E', 'HOWARD ST', 'GARDINER XWY E'], dtype=object)

In [ ]:
KSI['STREET1'].value_counts()

YONGE ST                  350
BATHURST ST               309
EGLINTON AVE E            271
DUNDAS ST W               268
LAWRENCE AVE E            264
                         ...
7 QUEEN ELIZABETH BLVD      1
EDENBRIDGE Dr               1
3230 BAYVIEW AVE            1
ROSE VALLEY CRES            1
DANFORTH Rd                 1
Name: STREET1, Length: 1714, dtype: int64

In [ ]:
KSI['STREET2'].unique()

array(['DUNDAS ST W', 'SHEPPARD AVE E', 'COMMONWEALTH AVE', ...,
       'LAKE SHORE BLVD E OFF RAMP', 'FLORENCE AV', 'BARKDENE HILLS'],
      dtype=object)

In [ ]:
KSI['STREET2'].value_counts()

<Null>            1510
LAWRENCE AVE E     138
BATHURST ST        129
YONGE ST           114
KIPLING AVE        112
                  ...
EDGEHILL Rd          1
SHAND AVE            1
CRESCENT RD          1
QUEENS PARK          1
BOUCHETTE ST         1
Name: STREET2, Length: 2568, dtype: int64

In [ ]:
KSI['OFFSET'].unique()

array(['<Null>', '60 NORTH OF', '6 m West of', '1 m West of',
       '80 m West of', '100 m East of', '7 m West of', '51 m South of',
       '43 m West of', '5 m North of', '8 m North of', '48 m East of',
       '97 m South of', '30 m South of', '4 m North of', '234 m South of',
       '450 m West of', '314 m  of', '192 m East of', '2 m North of',
       '10 m East of', '25 m West of', '18 m East of', '41 m South of',
       '50 m East of', '39 m East of', '10 m South of', '76 m West of',
       '50 m West of', '1 m North of', '100 m South of', '500 m East of',
       '58 m North of', '500 m North of', '12 m West of', '60 m East of',
       '30 m North of', '44 m North of', '132 m West of', '17 m West of',
       '280 m East of', '25 m East of', '10 m West of', '40 m West of',
       '26 m South of', '73 m West of', '35 m North of', '167 m East of',
       '12 m East of', '15 m West of', '18 m South of', '40 m North of',
       '9 m East of', '18 m North of', '9 m West of', '37 m West of',
       '4 m South of', '57 m East of', '545 m North of', '5 m East of',
       '185 m South of', '98 m West of', '3 m West of', '50 m South of',
       '6 m South of', '12 m South of', '31 m North of', '20 m East of',
       '24 m South of', '125 m East of', '3 m East of', '200 m North of',
       '65 m East of', '27 m East of', '64 m North of', '28 m East of',
       '85 m West of', '55 m West of', '200 m South of', '30 m East of',
       '1 m East of', '20 m West of', '40 m South of', '53 m South of',
       '24 m West of', '5 m West of', '2 m West of', '165 m South of',
       '24 m  of', '23 m East of', '25 m South of', '9 m South of',
       '3 m South of', '42 m South of', '33 m East of', '358 m North of',
       '64 m West of', '64 m East of', '16 m West of', '6 m North of',
       '3 m North of', '35 m East of', '10 m North of', '20 m South of',
       '58 m West of', '100 m North of', '46 m North of', '4 m West of',
       '70 m West of', '15 m South of', '246 m North of', '49 m East of',
       '80 m East of', '300 m East of', '38 m North of', '20 m North of',
       '11 m South of', '5 m South of', '100 m West of', '40 m East of',
       '22 m East of', '4 m East of', '15 m East of', '60 m North of',
       '17 m North of', '33 m West of', '374 m West of', '220 m South of',
       '55 m North of', '14 m West of', '3 m  of', '120 m West of',
       '30 m West of', '25M', '37 m South of', '120 m South of',
       '58 m South of', '45 m West of', '11 m North of', '143 m West of',
       '92.1 m south', '32 m East of', '65 m South of', '200 m West of',
       '75 m East of', '94 m North of', '65.6 M E of', '13 m West of',
       '105 m North of', '15 m North of', '8 m South of', '27 m West of',
       '137 m South of', '7 m North of', '12.5 M S of', '130 m East of',
       '121 m North of', '282 m South of', '51 m East of', '40 m East',
       '219 m North of', '139 m South of', '66 m North of',
       '68 m North of', '368 m East of', '80 m South of', '51 m West of',
       '14 m East of', '2 m East of', '400 m North of', '90 m South of',
       '245 m East of', '60 m West of', '120 m North of', '14 m North of',
       '19 m South of', '90 m North of', '19 m East of', '134 m West of',
       '7 m East of', '119 m West of', '11 m South of Light Post 300',
       '110 m South of', '2 m South of', '150 m East of', '420 m West of',
       '324 m East of', '63 m West of', '1 m South of', '16 m East of',
       '196 m North of', '265 m East of', '130 m South of',
       '70 m East of', '57 m North of', '90 m West of', '85 m South of',
       '172 m East of', '16 m North of', '39 m South of', '13 m North of',
       '450 m East of', '81 m West of', '11 m West of', '67 m South of',
       '99 m South of', '18 m West of', '37 m East of', '50 m North of',
       '72 m North of', '55 m East of', '160 m West of', '23 m West of',
       '458 m West of', '7 m South of', '500 m West of', '131 m South of',
       '51 m North of', '76 m South of', '69 m West of', '34 m South of',
       '7 m South of MARTIN GROVE RD', '10 m west', '150 m East',
       '50 m North', '47 m East of', '47 m West of',
       '100 m North of DONALBERT ROAD', '29 m East of', '700 m East of',
       'north of', '80 m North of', '250 m West of', '69 m North of',
       '35 m South of', '233 m East of', '9 m North of', '101 m South of',
       '65 m West of', '29 m West of', '42 m East of', '21 m East of',
       '26 m West of', '12 m North of', '84 m South of', '98 m South of',
       '177 m West of', '112 m North', '150 m North of', '8 m East of',
       '6.5 m West of', '8.6 m East of', '386 m South of', '17 m East of',
       '176 m South of', '6 m East of', '297 m East of',
       '18 m South of BRANDON AV', '900 m West of', '252 m South of',
       '113 m North of', '20 m North', '350 m West', '350 m North of',
       '34 m East of', '8 m West of', '63 m North of', '300 m South of',
       '30  m East of', '38 m East of', '120 m East of', '213 m West of',
       '71 m West of', '84 m West of', '45 m South of', '88 m North of',
       '200 m East of', '21 m North of', '99 m East of', '240 m North of',
       '107 m East of', '150 m West of', '20 m  of', '95 m South of',
       '185 m East of', '60 m South of', '49 m West of',
       '365 m East of REGATTA ROAD', '13 m East of', '31 m West of',
       '81 m North of', '37 m North of', '59 m North of',
       '17 meters south', '107 m North of', '180 m East of',
       '147 M North', '75 m East', '31 m East of', '92 m East of',
       '41 m West of', '44 m West of', '74 m South of', '33 m North of',
       '77 m South of', '75 m North of', '23 m North of',
       '297 m South of', '73 m North of', '87 m East of',
       '158 m South of', '16 m South of', '99 m West of', '11 m East of',
       '52 m East of', '28 m North of', '45 m  of', '192 m West of',
       '140 m East of', '620 HURON ST', '403 m N of', '408 m East of',
       'E of', 'W of', '195 m South', '45 m North of', '34 meters south',
       '52 m West of', '338 m West of', '150 m South of', '400 m East of',
       '31.8 m East of', '42 m South', '260 m West of', '600 m East',
       '70 m South of', '84 m North of', '153 m North of', '22 m West of',
       '378 m South of', '169 m South of', '90 m East of ALLANFORD RD',
       '250 m South of', '25 m North of', '119 m south', '27 m South of',
       '160 m South of', '42.9 M EAST OF', '89 m East of',
       '190 metre north of', '100 m south', '94 m East of',
       '73 m South of', '89.5 m south', '39 m West of', '264 m West of',
       '151 m West of', '235 m South of', '13 m South of', '5 m  of',
       '233 m South of', '81 m South of', '305 m West of', '28 m West of',
       '110 m East of', '290 m East of', '63 m East of', '155 m East of',
       '57 m West of', '425 m East of', 'LEGGETT AVE', 'Near #685',
       '132 m South of', '900 m East of', '44 m East of', '159 m West of',
       '36 m West of', '43 m East of', '54 m East of', '20 metres north',
       '4 m  of', '25 m West of YONGE ST', '26 m East of',
       '52 m North of', '90 m East of', '24 m East of', '170 m East of',
       '130 m West of', '82 m West of', '365 m East of', '135 m West of',
       '110 m West of', '3 metres east', '189 m East of', '34 m West of',
       '62 m West of', '339 m West of', '78 m South of', '48 m North of',
       '112 m South of', '83 m West of', '93 m North of',
       '168 m South of', '36 m East of', 'GERRARD ST E', '53 m West of',
       '160 m East of', '332 m West of', '280 m North of',
       '163 m North of', '61 m North of', '2 m  of', '66 m West of',
       '6 m  of', '56 m South of St REGIS CR', 'No.4600 (Driveway)',
       '96 m West of', '666 m South of', '75 m South of', '21 m West of'],
      dtype=object)

In [ ]:
KSI['OFFSET'].value_counts()

<Null>            14114
10 m North of        45
5 m South of         42
10 m South of        37
10 m West of         36
                  ...
403 m N of            1
339 m West of         1
38 m North of         1
365 m East of         1
350 m North of        1
Name: OFFSET, Length: 420, dtype: int64

In [ ]:
KSI['ROAD_CLASS'].unique()

array(['Major Arterial', 'Collector', 'Minor Arterial', 'Local', '<Null>',
       'Other', 'Pending', 'Laneway', 'Expressway', 'Expressway Ramp',
       'Major Arterial Ramp'], dtype=object)

In [ ]:
KSI['ROAD_CLASS'].value_counts()

Major Arterial         11976
Minor Arterial          2598
Collector                929
Local                    761
<Null>                   497
Expressway                52
Other                     25
Laneway                   10
Pending                    7
Expressway Ramp            4
Major Arterial Ramp        1
Name: ROAD_CLASS, dtype: int64

In [ ]:
KSI['DISTRICT'].unique()

array(['Toronto and East York', 'Scarborough', 'Etobicoke York',
       'North York', '<Null>', 'Toronto East York'], dtype=object)

In [ ]:
KSI['DISTRICT'].value_counts()

Toronto and East York    5617
Etobicoke York           3884
Scarborough              3798
North York               3343
<Null>                    141
Toronto East York          77
Name: DISTRICT, dtype: int64

In [ ]:
KSI['WARDNUM'].unique()

array(['4', '25', '21,20', '9,11,10', '1,2', '22', '13', '9', '11', '18',
       '6', '24', '5', '14', '10', '16', '15,16', '12', '8', '23', '21',
       '8,15', '2', '15', '3', '7', '17', '19', '1', '11,13', '9,12',
       '16,21', '8,12', '23,25', '2,3', '24,25', '9,11', '20', '22,23',
       '10,13', '7,6', '21,24', '11,10', '4,10', '18,17', '5,9', '17,22',
       '1,7', '19,20', '9,10', '8,9', '13,14', '14,19', '6,18', '11,15',
       '11,10,13', '20,24', '12,15', '16,20', '5,4', '16,21,20', '10,14',
       '8,9,12', '12,11', '23,24', '4,9,10', '16,19,20', '3,4', '21,23',
       '4,9', '17,16,22,21', '9,12,11', '07,06', '16,19', '<Null>'],
      dtype=object)

In [ ]:
KSI['WARDNUM'].value_counts()

10             967
1              883
3              769
11             755
14             738
              ...
4,9              2
17,16,22,21      2
9,12,11          2
07,06            2
5,4              1
Name: WARDNUM, Length: 75, dtype: int64

In [ ]:
KSI['DIVISION'].unique()

array(['11', '42', '41', '14', '23', '51', '32', '31', '12,11', '43',
       '12', '55', '13', '52', '54', '33', '23,22', '22', '53', '53,13',
       '41,33', '41,43', '52,14', '11,14', '51,52', '54,55', '53,52',
       '54,33', '33,32', '33,42', '23,31', '41,54', '53,32', '32,13',
       '53,51', '55,51', '53,14', '0,52', '41,54,33', '41,55', '53,32,13',
       '13,14', '53,52,14', '43,42', '11,13', '22,11', '0,51', '41,43,42',
       '41,33,42', '53,33,32', '<Null>'], dtype=object)

In [ ]:
KSI['DIVISION'].value_counts()

42          1584
32          1160
23          1109
41          1091
22          1066
14          1023
43           952
31           866
53           747
52           726
12           723
51           714
33           698
13           666
11           642
55           566
54           489
54,55        242
<Null>       196
51,52        152
52,14        138
11,14        136
23,22        123
12,11        113
41,43        108
33,32        103
41,33        102
53,13         77
32,13         72
33,42         70
54,33         58
41,54         49
53,51         46
53,32         44
23,31         38
55,51         35
53,52         32
53,14         26
41,54,33      16
53,52,14      13
53,32,13       9
13,14          9
0,52           7
41,55          6
41,43,42       5
11,13          3
0,51           3
43,42          2
22,11          2
41,33,42       2
53,33,32       1
Name: DIVISION, dtype: int64

In [ ]:
KSI['LOCCOORD'].unique()

array(['Intersection', 'Mid-Block', '<Null>', 'Exit Ramp Westbound',
       'Exit Ramp Southbound', 'Mid-Block (Abnormal)',
       'Entrance Ramp Westbound', 'Park, Private Property, Public Lane'],
      dtype=object)

In [ ]:
KSI['LOCCOORD'].value_counts()

Intersection                           11141
Mid-Block                               5598
<Null>                                   105
Exit Ramp Westbound                        5
Mid-Block (Abnormal)                       4
Exit Ramp Southbound                       3
Entrance Ramp Westbound                    2
Park, Private Property, Public Lane        2
Name: LOCCOORD, dtype: int64

In [ ]:
KSI['ACCLOC'].unique()

array(['At Intersection', '<Null>', 'Intersection Related',
       'Non Intersection', 'Private Driveway', 'At/Near Private Drive',
       'Overpass or Bridge', 'Underpass or Tunnel', 'Trail', 'Laneway'],
      dtype=object)

In [ ]:
KSI['ACCLOC'].value_counts()

At Intersection          8060
<Null>                   5450
Non Intersection         1968
Intersection Related     1019
At/Near Private Drive     318
Private Driveway           13
Laneway                    13
Overpass or Bridge         12
Underpass or Tunnel         6
Trail                       1
Name: ACCLOC, dtype: int64

In [ ]:
KSI['TRAFFCTL'].unique()

array(['Traffic Signal', 'No Control', 'Pedestrian Crossover',
       'Stop Sign', '<Null>', 'Yield Sign', 'Traffic Controller',
       'School Guard', 'Police Control', 'Traffic Gate',
       'Streetcar (Stop for)'], dtype=object)

In [ ]:
KSI['TRAFFCTL'].value_counts()

No Control              8092
Traffic Signal          7104
Stop Sign               1295
Pedestrian Crossover     195
Traffic Controller       104
<Null>                    29
Yield Sign                16
Streetcar (Stop for)      16
Traffic Gate               5
School Guard               2
Police Control             2
Name: TRAFFCTL, dtype: int64

In [ ]:
KSI['VISIBILITY'].unique()

array(['Clear', 'Rain', 'Other', 'Snow', 'Strong wind',
       'Fog, Mist, Smoke, Dust', 'Drifting Snow', 'Freezing Rain',
       '<Null>'], dtype=object)

In [ ]:
KSI['VISIBILITY'].value_counts()

Clear                     14476
Rain                       1819
Snow                        332
Other                        99
Fog, Mist, Smoke, Dust       46
Freezing Rain                43
Drifting Snow                19
<Null>                       18
Strong wind                   8
Name: VISIBILITY, dtype: int64

In [ ]:
KSI['LIGHT'].unique()

array(['Daylight', 'Dark', 'Dawn, artificial', 'Dusk, artificial', 'Dusk',
       'Dark, artificial', 'Dawn', 'Daylight, artificial', 'Other'],
      dtype=object)

In [ ]:
KSI['LIGHT'].value_counts()

Daylight                9683
Dark                    3582
Dark, artificial        2854
Dusk                     226
Dusk, artificial         184
Daylight, artificial     128
Dawn                     104
Dawn, artificial          93
Other                      6
Name: LIGHT, dtype: int64

In [ ]:
KSI['RDSFCOND'].unique()

array(['Dry', 'Wet', 'Other', 'Slush', 'Loose Snow', 'Ice', 'Packed Snow',
       'Spilled liquid', 'Loose Sand or Gravel', '<Null>'], dtype=object)

In [ ]:
KSI['RDSFCOND'].value_counts()

Dry                     13435
Wet                      2870
Loose Snow                166
Other                     147
Slush                      96
Ice                        73
Packed Snow                42
<Null>                     23
Loose Sand or Gravel        7
Spilled liquid              1
Name: RDSFCOND, dtype: int64

In [ ]:
KSI['ACCLASS'].unique()

array(['Fatal', 'Non-Fatal Injury', 'Property Damage Only'], dtype=object)

In [ ]:
KSI['ACCLASS'].value_counts()

Non-Fatal Injury        14561
Fatal                    2297
Property Damage Only        2
Name: ACCLASS, dtype: int64

In [ ]:
KSI['IMPACTYPE'].unique()

array(['Pedestrian Collisions', 'Turning Movement', 'Angle',
       'Approaching', 'SMV Other', 'Rear End', 'SMV Unattended Vehicle',
       'Sideswipe', 'Cyclist Collisions', 'Other', '<Null>'], dtype=object)

In [ ]:
KSI['IMPACTYPE'].value_counts()

Pedestrian Collisions     6811
Turning Movement          2552
Cyclist Collisions        1674
Rear End                  1602
SMV Other                 1312
Angle                     1206
Approaching                870
Sideswipe                  466
Other                      182
SMV Unattended Vehicle     181
<Null>                       4
Name: IMPACTYPE, dtype: int64

In [ ]:
KSI['INVTYPE'].unique()

array(['Driver', 'Pedestrian', 'Motorcycle Driver', 'Passenger',
       'Vehicle Owner', 'Other Property Owner', 'Other', 'Cyclist',
       'Truck Driver', 'Motorcycle Passenger', '<Null>',
       'Driver - Not Hit', 'In-Line Skater', 'Moped Driver', 'Wheelchair',
       'Pedestrian - Not Hit', 'Trailer Owner', 'Witness',
       'Cyclist Passenger'], dtype=object)

In [ ]:
KSI['INVTYPE'].value_counts()

Driver                  7618
Pedestrian              2871
Passenger               2543
Vehicle Owner           1636
Cyclist                  726
Motorcycle Driver        607
Truck Driver             316
Other Property Owner     257
Other                    174
Motorcycle Passenger      32
Moped Driver              27
Driver - Not Hit          17
Wheelchair                13
<Null>                    12
In-Line Skater             5
Trailer Owner              2
Cyclist Passenger          2
Pedestrian - Not Hit       1
Witness                    1
Name: INVTYPE, dtype: int64

In [ ]:
KSI['INVAGE'].unique()

array(['unknown', '65 to 69', '45 to 49', '25 to 29', '30 to 34',
       '40 to 44', '20 to 24', '55 to 59', '0 to 4', '35 to 39',
       '60 to 64', '50 to 54', '15 to 19', '80 to 84', '70 to 74',
       '75 to 79', '90 to 94', '10 to 14', '5 to 9', '85 to 89',
       'Over 95'], dtype=object)

In [ ]:
KSI['INVAGE'].value_counts()

unknown     2573
20 to 24    1561
25 to 29    1504
30 to 34    1248
50 to 54    1222
35 to 39    1205
40 to 44    1181
45 to 49    1153
55 to 59     993
60 to 64     796
15 to 19     766
65 to 69     614
70 to 74     488
75 to 79     402
80 to 84     307
10 to 14     231
85 to 89     196
5 to 9       183
0 to 4       167
90 to 94      56
Over 95       14
Name: INVAGE, dtype: int64

In [ ]:
KSI['INJURY'].unique()

array(['None', 'Fatal', 'Minor', 'Major', 'Minimal', '<Null>'],
      dtype=object)

In [ ]:
KSI['INVAGE'].value_counts()

array(['None', 'Fatal', 'Minor', 'Major', 'Minimal', '<Null>'],
      dtype=object)

In [ ]:
KSI['FATAL_NO'].unique()

array(['<Null>', '1', '2', '3', '4', '15', '22', '26', '23', '24', '25',
       '27', '28', '29', '30', '31', '32', '16', '43', '44', '46', '45',
       '47', '48', '49', '17', '8', '33', '38', '39', '40', '41', '42',
       '35', '34', '5', '6', '7', '14', '12', '10', '9', '11', '13', '18',
       '19', '20', '21', '36', '37', '53', '50', '51', '52', '54', '55',
       '57', '56', '58', '59', '60', '61', '62', '63', '65', '64', '78',
       '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76',
       '77'], dtype=object)

In [ ]:
KSI['INVAGE'].value_counts()

array(['<Null>', '1', '2', '3', '4', '15', '22', '26', '23', '24', '25',
       '27', '28', '29', '30', '31', '32', '16', '43', '44', '46', '45',
       '47', '48', '49', '17', '8', '33', '38', '39', '40', '41', '42',
       '35', '34', '5', '6', '7', '14', '12', '10', '9', '11', '13', '18',
       '19', '20', '21', '36', '37', '53', '50', '51', '52', '54', '55',
       '57', '56', '58', '59', '60', '61', '62', '63', '65', '64', '78',
       '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76',
       '77'], dtype=object)

In [ ]:
KSI['INITDIR'].unique()

array(['South', 'North', 'East', 'West', '<Null>', 'Unknown'],
      dtype=object)

In [ ]:
KSI['INITDIR'].value_counts()

<Null>     4894
East       3010
West       2900
North      2813
South      2809
Unknown     434
Name: INITDIR, dtype: int64

In [ ]:
KSI['VEHTYPE'].unique()

array(['Automobile, Station Wagon', 'Other', 'Motorcycle', 'Bicycle',
       '<Null>', 'Municipal Transit Bus (TTC)', 'Truck - Open', 'Taxi',
       'Passenger Van', 'Delivery Van', 'Moped', 'Pick Up Truck',
       'Police Vehicle', 'Truck-Tractor', 'Truck - Closed (Blazer, etc)',
       'Street Car', 'Bus (Other) (Go Bus, Gray Coach)', 'Truck - Dump',
       'Construction Equipment', 'Intercity Bus', 'Truck (other)',
       'Truck - Tank', 'Other Emergency Vehicle', 'School Bus',
       'Tow Truck', 'Off Road - 2 Wheels', 'Fire Vehicle',
       'Truck - Car Carrier'], dtype=object)

In [ ]:
KSI['VEHTYPE'].value_counts()

Automobile, Station Wagon           6890
Other                               4746
<Null>                              2813
Bicycle                              722
Motorcycle                           608
Municipal Transit Bus (TTC)          249
Pick Up Truck                        179
Truck - Open                         175
Passenger Van                        118
Delivery Van                          72
Truck - Closed (Blazer, etc)          60
Street Car                            42
Truck - Dump                          34
Truck-Tractor                         33
Taxi                                  28
Moped                                 22
Truck (other)                         13
Bus (Other) (Go Bus, Gray Coach)      13
Truck - Tank                          10
Intercity Bus                         10
School Bus                             5
Police Vehicle                         4
Construction Equipment                 4
Tow Truck                              4
Fire Vehicle                           3
Other Emergency Vehicle                1
Off Road - 2 Wheels                    1
Truck - Car Carrier                    1
Name: VEHTYPE, dtype: int64

In [ ]:
KSI['MANOEUVER'].unique()

array(['Turning Left', '<Null>', 'Turning Right', 'Going Ahead',
       'Stopped', 'Other', 'Making U Turn', 'Slowing or Stopping',
       'Parked', 'Unknown', 'Overtaking', 'Changing Lanes', 'Reversing',
       'Pulling Away from Shoulder or Curb',
       'Pulling Onto Shoulder or towardCurb', 'Merging', 'Disabled'],
      dtype=object)

In [ ]:
KSI['MANOEUVER'].value_counts()

<Null>                                 7233
Going Ahead                            5694
Turning Left                           1630
Stopped                                 576
Turning Right                           432
Slowing or Stopping                     249
Changing Lanes                          203
Other                                   176
Parked                                  175
Unknown                                 120
Reversing                               113
Making U Turn                            99
Overtaking                               87
Pulling Away from Shoulder or Curb       38
Merging                                  17
Pulling Onto Shoulder or towardCurb      14
Disabled                                  4
Name: MANOEUVER, dtype: int64

In [ ]:
KSI['DRIVACT'].unique()

array(['Failed to Yield Right of Way', '<Null>',
       'Disobeyed Traffic Control', 'Driving Properly', 'Other',
       'Lost control', 'Following too Close',
       'Speed too Fast For Condition', 'Improper Lane Change',
       'Exceeding Speed Limit', 'Improper Turn', 'Improper Passing',
       'Wrong Way on One Way Road', 'Speed too Slow'], dtype=object)

In [ ]:
KSI['DRIVACT'].value_counts()

<Null>                          8398
Driving Properly                3879
Failed to Yield Right of Way    1429
Lost control                     874
Improper Turn                    521
Other                            465
Disobeyed Traffic Control        432
Following too Close              241
Exceeding Speed Limit            211
Speed too Fast For Condition     188
Improper Lane Change             114
Improper Passing                  95
Wrong Way on One Way Road          9
Speed too Slow                     4
Name: DRIVACT, dtype: int64

In [ ]:
KSI['DRIVCOND'].unique()

array(['Unknown', '<Null>', 'Ability Impaired, Alcohol',
       'Ability Impaired, Alcohol Over .08', 'Normal',
       'Had Been Drinking', 'Other', 'Inattentive',
       'Medical or Physical Disability', 'Fatigue',
       'Ability Impaired, Drugs'], dtype=object)

In [ ]:
KSI['DRIVCOND'].value_counts()

<Null>                                8396
Normal                                5407
Inattentive                           1412
Unknown                                988
Medical or Physical Disability         166
Had Been Drinking                      152
Ability Impaired, Alcohol Over .08     120
Ability Impaired, Alcohol              111
Fatigue                                 48
Other                                   43
Ability Impaired, Drugs                 17
Name: DRIVCOND, dtype: int64

In [ ]:
KSI['PEDTYPE'].unique()

array(['<Null>',
       'Vehicle turns left while ped crosses with ROW at inter.',
       'Pedestrian hit at mid-block',
       'Vehicle is going straight thru inter.while ped cross without ROW',
       'Pedestrian hit a PXO/ped. Mid-block signal',
       'Vehicle is going straight thru inter.while ped cross with ROW',
       'Other / Undefined',
       'Vehicle turns right while ped crosses without ROW at inter.',
       'Vehicle hits the pedestrian walking or running out from between parked vehicles at mid-block',
       'Pedestrian hit on sidewalk or shoulder',
       'Vehicle turns right while ped crosses with ROW at inter.',
       'Pedestrian involved in a collision with transit vehicle anywhere along roadway',
       'Unknown',
       'Vehicle turns left while ped crosses without ROW at inter.',
       'Vehicle is reversing and hits pedestrian',
       'Pedestrian hit at private driveway',
       'Pedestrian hit at parking lot'], dtype=object)

In [ ]:
KSI['PEDTYPE'].value_counts()

<Null>                                                                                          14074
Pedestrian hit at mid-block                                                                       695
Vehicle turns left while ped crosses with ROW at inter.                                           550
Vehicle is going straight thru inter.while ped cross without ROW                                  482
Pedestrian hit on sidewalk or shoulder                                                            208
Vehicle is going straight thru inter.while ped cross with ROW                                     162
Vehicle turns right while ped crosses with ROW at inter.                                          159
Pedestrian involved in a collision with transit vehicle anywhere along roadway                    139
Vehicle turns left while ped crosses without ROW at inter.                                         75
Other / Undefined                                                                                  75
Vehicle is reversing and hits pedestrian                                                           75
Pedestrian hit a PXO/ped. Mid-block signal                                                         61
Pedestrian hit at private driveway                                                                 38
Vehicle hits the pedestrian walking or running out from between parked vehicles at mid-block       26
Unknown                                                                                            20
Vehicle turns right while ped crosses without ROW at inter.                                        18
Pedestrian hit at parking lot                                                                       3
Name: PEDTYPE, dtype: int64

In [ ]:
KSI['PEDACT'].unique()

array(['<Null>', 'Crossing with right of way',
       'Crossing, no Traffic Control', 'Crossing without right of way',
       'Crossing, Pedestrian Crossover', 'Running onto Roadway', 'Other',
       'Coming From Behind Parked Vehicle', 'On Sidewalk or Shoulder',
       'Pushing/Working on Vehicle', 'Walking on Roadway Against Traffic',
       'Walking on Roadway with Traffic', 'Person Getting on/off Vehicle',
       'Playing or Working on Highway',
       'Crossing marked crosswalk without ROW',
       'Person Getting on/off School Bus'], dtype=object)

In [ ]:
KSI['PEDACT'].value_counts()

<Null>                                   14081
Crossing with right of way                 873
Crossing, no Traffic Control               647
Crossing without right of way              383
On Sidewalk or Shoulder                    233
Running onto Roadway                       207
Other                                      205
Crossing, Pedestrian Crossover              58
Person Getting on/off Vehicle               36
Coming From Behind Parked Vehicle           33
Walking on Roadway with Traffic             31
Playing or Working on Highway               24
Walking on Roadway Against Traffic          20
Crossing marked crosswalk without ROW       15
Pushing/Working on Vehicle                  12
Person Getting on/off School Bus             2
Name: PEDACT, dtype: int64

In [ ]:
KSI['PEDCOND'].unique()

array(['<Null>', 'Unknown', 'Normal', 'Medical or Physical Disability',
       'Inattentive', 'Had Been Drinking', 'Other',
       'Ability Impaired, Alcohol', 'Ability Impaired, Alcohol Over .80',
       'Ability Impaired, Drugs', 'Fatigue'], dtype=object)

In [ ]:
KSI['PEDCOND'].value_counts()

<Null>                                14025
Normal                                 1597
Inattentive                             496
Unknown                                 355
Had Been Drinking                       205
Medical or Physical Disability           66
Other                                    56
Ability Impaired, Alcohol                38
Ability Impaired, Alcohol Over .80       12
Ability Impaired, Drugs                   8
Fatigue                                   2
Name: PEDCOND, dtype: int64

In [ ]:
KSI['CYCLISTYPE'].unique()

array(['<Null>',
       'Cyclist and Driver travelling in same direction. One vehicle rear-ended the other.',
       'Cyclist and Driver travelling in same direction. One vehicle sideswipes the other.',
       'Cyclist struck opened vehicle door',
       'Cyclist strikes pedestrian.',
       'Cyclist loses control and strikes object (pole, ttc track)',
       'Cyclist turns right across motorists path',
       'Motorist turned left across cyclists path.',
       'Cyclist without ROW rides into path of motorist at inter, lnwy, dwy-Cyclist not turn.',
       'Motorist without ROW drives into path of cyclist at inter, lnwy, dwy-Driver not turn.',
       'Motorist turning right on green or amber at signalized intersection strikes cyclist.',
       'Motorist turns right at non-signal Inter.(stop, yield, no cont.,and dwy) and strikes cyclist.',
       'Motorist turning right on red at signalized intersection strikes cyclist.',
       'Cyclist turned left across motorists path.',
       'Cyclist rode off sidewalk into road at midblock.',
       'Cyclist makes u-turn in-front of driver.',
       'Insufficient information (to determine cyclist crash type).',
       'Motorist reversing struck cyclist.',
       'Cyclist struck at PXO(cyclist either travel in same dir. as veh. or ride across xwalk)',
       'Motorist loses control and strikes cyclist.',
       'Motorist makes u-turn in-front of cyclist.',
       'Cyclist strikes a parked vehicle.',
       'Cyclist falls off bike - no contact with motorist.'], dtype=object)

In [ ]:
KSI['CYCLISTYPE'].value_counts()

<Null>                                                                                           16160
Motorist turned left across cyclists path.                                                         119
Cyclist without ROW rides into path of motorist at inter, lnwy, dwy-Cyclist not turn.              106
Cyclist and Driver travelling in same direction. One vehicle sideswipes the other.                  96
Cyclist and Driver travelling in same direction. One vehicle rear-ended the other.                  51
Cyclist struck opened vehicle door                                                                  50
Motorist without ROW drives into path of cyclist at inter, lnwy, dwy-Driver not turn.               50
Motorist turns right at non-signal Inter.(stop, yield, no cont.,and dwy) and strikes cyclist.       41
Cyclist turned left across motorists path.                                                          38
Motorist turning right on green or amber at signalized intersection strikes cyclist.                33
Motorist turning right on red at signalized intersection strikes cyclist.                           26
Insufficient information (to determine cyclist crash type).                                         21
Cyclist strikes pedestrian.                                                                         15
Cyclist loses control and strikes object (pole, ttc track)                                          13
Motorist makes u-turn in-front of cyclist.                                                           8
Cyclist strikes a parked vehicle.                                                                    8
Cyclist turns right across motorists path                                                            5
Motorist reversing struck cyclist.                                                                   5
Cyclist rode off sidewalk into road at midblock.                                                     4
Cyclist falls off bike - no contact with motorist.                                                   4
Motorist loses control and strikes cyclist.                                                          3
Cyclist makes u-turn in-front of driver.                                                             2
Cyclist struck at PXO(cyclist either travel in same dir. as veh. or ride across xwalk)               2
Name: CYCLISTYPE, dtype: int64

In [ ]:
KSI['CYCACT'].unique()

array(['<Null>', 'Other', 'Improper Passing', 'Driving Properly',
       'Disobeyed Traffic Control', 'Lost control',
       'Failed to Yield Right of Way', 'Improper Turn',
       'Improper Lane Change', 'Following too Close',
       'Speed too Fast For Condition', 'Wrong Way on One Way Road'],
      dtype=object)

In [ ]:
KSI['CYCACT'].value_counts()

<Null>                          16153
Driving Properly                  385
Disobeyed Traffic Control          79
Other                              69
Failed to Yield Right of Way       59
Lost control                       35
Improper Turn                      24
Improper Lane Change               21
Improper Passing                   19
Speed too Fast For Condition        8
Following too Close                 4
Wrong Way on One Way Road           4
Name: CYCACT, dtype: int64

In [ ]:
KSI['CYCCOND'].unique()

array(['<Null>', 'Inattentive', 'Normal', 'Had Been Drinking', 'Unknown',
       'Ability Impaired, Drugs', 'Medical or Physical Disability',
       'Ability Impaired, Alcohol Over .80', 'Ability Impaired, Alcohol',
       'Other', 'Fatigue'], dtype=object)

In [ ]:
KSI['CYCCOND'].value_counts()

<Null>                                16154
Normal                                  488
Inattentive                             100
Unknown                                  70
Had Been Drinking                        27
Other                                     9
Ability Impaired, Alcohol                 4
Medical or Physical Disability            3
Ability Impaired, Drugs                   2
Fatigue                                   2
Ability Impaired, Alcohol Over .80        1
Name: CYCCOND, dtype: int64

In [ ]:
KSI['CYCACT'].unique()

array(['<Null>', 'Other', 'Improper Passing', 'Driving Properly',
       'Disobeyed Traffic Control', 'Lost control',
       'Failed to Yield Right of Way', 'Improper Turn',
       'Improper Lane Change', 'Following too Close',
       'Speed too Fast For Condition', 'Wrong Way on One Way Road'],
      dtype=object)

In [ ]:
KSI['CYCACT'].value_counts()

<Null>                          16153
Driving Properly                  385
Disobeyed Traffic Control          79
Other                              69
Failed to Yield Right of Way       59
Lost control                       35
Improper Turn                      24
Improper Lane Change               21
Improper Passing                   19
Speed too Fast For Condition        8
Following too Close                 4
Wrong Way on One Way Road           4
Name: CYCACT, dtype: int64

In [ ]:
KSI['PEDESTRIAN'].unique()

array(['Yes', '<Null>'], dtype=object)

In [ ]:
KSI['PEDESTRIAN'].value_counts()

<Null>    10033
Yes        6827
Name: PEDESTRIAN, dtype: int64

In [ ]:
KSI['CYCLIST'].unique()

array(['<Null>', 'Yes'], dtype=object)

In [ ]:
KSI['CYCLIST'].value_counts()

<Null>    15081
Yes        1779
Name: CYCLIST, dtype: int64

In [ ]:
KSI['AUTOMOBILE'].unique()

array(['Yes', '<Null>'], dtype=object)

In [ ]:
KSI['AUTOMOBILE'].value_counts()

Yes       15308
<Null>     1552
Name: AUTOMOBILE, dtype: int64

In [ ]:
KSI['MOTORCYCLE'].unique()

array(['<Null>', 'Yes'], dtype=object)

In [ ]:
KSI['MOTORCYCLE'].value_counts()

<Null>    15476
Yes        1384
Name: MOTORCYCLE, dtype: int64

In [ ]:
KSI['TRUCK'].unique()

array(['<Null>', 'Yes'], dtype=object)

In [ ]:
KSI['TRUCK'].value_counts()

<Null>    15818
Yes        1042
Name: TRUCK, dtype: int64

In [ ]:
KSI['TRSN_CITY_VEH'].unique()

array(['<Null>', 'Yes'], dtype=object)

In [ ]:
KSI['TRSN_CITY_VEH'].value_counts()

<Null>    15849
Yes        1011
Name: TRSN_CITY_VEH, dtype: int64

In [ ]:
KSI['EMERG_VEH'].unique()

array(['<Null>', 'Yes'], dtype=object)

In [ ]:
KSI['EMERG_VEH'].value_counts()

<Null>    16829
Yes          31
Name: EMERG_VEH, dtype: int64

In [ ]:
KSI['PASSENGER'].unique()

array(['<Null>', 'Yes'], dtype=object)

In [ ]:
KSI['PASSENGER'].value_counts()

<Null>    10498
Yes        6362
Name: PASSENGER, dtype: int64

In [ ]:
KSI['SPEEDING'].unique()

array(['<Null>', 'Yes'], dtype=object)

In [ ]:
KSI['SPEEDING'].value_counts()

<Null>    14575
Yes        2285
Name: SPEEDING, dtype: int64

In [ ]:
KSI['AG_DRIV'].unique()

array(['Yes', '<Null>'], dtype=object)

In [ ]:
KSI['AG_DRIV'].value_counts()

Yes       8703
<Null>    8157
Name: AG_DRIV, dtype: int64

In [ ]:
KSI['REDLIGHT'].unique()

array(['<Null>', 'Yes'], dtype=object)

In [ ]:
KSI['REDLIGHT'].value_counts()

<Null>    15451
Yes        1409
Name: REDLIGHT, dtype: int64

In [ ]:
KSI['ALCOHOL'].unique()

array(['<Null>', 'Yes'], dtype=object)

In [ ]:
KSI['ALCOHOL'].value_counts()

<Null>    16121
Yes         739
Name: ALCOHOL, dtype: int64

In [ ]:
KSI['REDLIGHT'].unique()

array(['<Null>', 'Yes'], dtype=object)

In [ ]:
KSI['REDLIGHT'].value_counts()

<Null>    15451
Yes        1409
Name: REDLIGHT, dtype: int64

In [ ]:
KSI['DISABILITY'].unique()

array(['<Null>', 'Yes'], dtype=object)

In [ ]:
KSI['DISABILITY'].value_counts()

<Null>    16392
Yes         468
Name: DISABILITY, dtype: int64

In [ ]:
KSI['POLICE_DIVISION'].unique()

array(['D11', 'D42', 'D41', 'D14', 'D23', 'D51', 'D32', 'D31', 'D43',
       'D12', 'D55', 'D13', 'D52', 'D54', 'D33', 'D22', 'D53'],
      dtype=object)

In [ ]:
KSI['POLICE_DIVISION'].value_counts()

D42    1664
D41    1297
D22    1202
D32    1193
D23    1164
D14    1163
D43    1024
D52     947
D51     883
D31     878
D53     877
D33     851
D55     816
D11     809
D13     794
D12     737
D54     561
Name: POLICE_DIVISION, dtype: int64

In [ ]:
KSI['HOOD_ID'].unique()

array([ 88, 131, 138,  81,   6, 116,  73,  93,  95,  51,  27,  91, 137,
        30,  29, 111,  70,  92, 115,  77,  44,  42, 101,  76,  32, 139,
       128,  10, 126,  40,   9,  99,  16,  87,  98, 106,  26,  78,  35,
        53,  62,   4,  39,   1,  75,  96,  24,   8,  71,  63,  94, 129,
       102,  60,  50, 110, 119,  38,  47,  18, 136,  17,   2, 107,  11,
       127,  84,  56,  89,  45, 125,  66,  54,  59,   5,  85, 132,  12,
        83,  57,  86,  21, 135, 104, 120,  33,  43, 100,  64,  48, 109,
        14,  34, 117,  22,  80, 123, 114,  58,  20,  61, 108, 103, 122,
       112,  65,  82, 130,  52,  28,  55,  41, 124, 140, 118,  90,  79,
         7,  31,  37, 105,  46,  36,  68,   3,  23,  13, 113,  72,  67,
       121,  19, 133, 134,  69,  25,  49,  97,  15,  74])

In [ ]:
KSI['HOOD_ID'].value_counts()

77     646
1      515
76     394
131    378
137    369
      ...
67      25
105     24
140     21
29      20
114     13
Name: HOOD_ID, Length: 140, dtype: int64

In [ ]:
KSI['NEIGHBOURHOOD'].unique()

array(['High Park North (88)', 'Rouge (131)', 'Eglinton East (138)',
       'Trinity-Bellwoods (81)', 'Kingsview Village-The Westway (6)',
       'Steeles (116)', 'Moss Park (73)',
       'Dovercourt-Wallace Emerson-Junction (93)', 'Annex (95)',
       'Willowdale East (51)', 'York University Heights (27)',
       'Weston-Pellam Park (91)', 'Woburn (137)',
       'Brookhaven-Amesbury (30)', 'Maple Leaf (29)',
       'Rockcliffe-Smythe (111)', 'South Riverdale (70)',
       'Corso Italia-Davenport (92)', 'Mount Dennis (115)',
       'Waterfront Communities-The Island (77)', 'Flemingdon Park (44)',
       'Banbury-Don Mills (42)', 'Forest Hill South (101)',
       'Bay Street Corridor (76)', 'Englemount-Lawrence (32)',
       'Scarborough Village (139)', 'Agincourt South-Malvern West (128)',
       'Princess-Rosethorn (10)', 'Dorset Park (126)',
       'St.Andrew-Windfields (40)', 'Edenbridge-Humber Valley (9)',
       'Mount Pleasant East (99)', 'Stonegate-Queensway (16)',
       'High Park-Swansea (87)', 'Rosedale-Moore Park (98)',
       'Humewood-Cedarvale (106)', 'Downsview-Roding-CFB (26)',
       'Kensington-Chinatown (78)', 'Westminster-Branson (35)',
       'Henry Farm (53)', 'East End-Danforth (62)', 'Rexdale-Kipling (4)',
       'Bedford Park-Nortown (39)', 'West Humber-Clairville (1)',
       'Church-Yonge Corridor (75)', 'Casa Loma (96)', 'Black Creek (24)',
       'Humber Heights-Westmount (8)',
       'Cabbagetown-South St.James Town (71)', 'The Beaches (63)',
       'Wychwood (94)', 'Agincourt North (129)',
       'Forest Hill North (102)', 'Woodbine-Lumsden (60)',
       'Newtonbrook East (50)', 'Keelesdale-Eglinton West (110)',
       'Wexford/Maryvale (119)', 'Lansing-Westgate (38)',
       'Don Valley Village (47)', 'New Toronto (18)', 'West Hill (136)',
       'Mimico (17)', 'Mount Olive-Silverstone-Jamestown (2)',
       'Oakwood Village (107)', 'Eringate-Centennial-West Deane (11)',
       'Bendale (127)', 'Little Portugal (84)', 'Leaside-Bennington (56)',
       'Runnymede-Bloor West Village (89)', 'Parkwoods-Donalda (45)',
       'Ionview (125)', 'Danforth (66)', "O'Connor-Parkview (54)",
       'Danforth East York (59)', 'Elms-Old Rexdale (5)',
       'South Parkdale (85)', 'Malvern (132)', 'Markland Wood (12)',
       'Dufferin Grove (83)', 'Broadview North (57)', 'Roncesvalles (86)',
       'Humber Summit (21)', 'Morningside (135)',
       'Mount Pleasant West (104)', 'Clairlea-Birchmount (120)',
       'Clanton Park (33)', 'Victoria Village (43)',
       'Yonge-Eglinton (100)', 'Woodbine Corridor (64)',
       'Hillcrest Village (48)', 'Caledonia-Fairbank (109)',
       'Islington-City Centre West (14)', 'Bathurst Manor (34)',
       "L'Amoreaux (117)", 'Humbermede (22)',
       'Palmerston-Little Italy (80)', 'Cliffcrest (123)',
       'Lambton Baby Point (114)', 'Old East York (58)', 'Alderwood (20)',
       'Taylor-Massey (61)', 'Briar Hill-Belgravia (108)',
       'Lawrence Park South (103)', 'Birchcliffe-Cliffside (122)',
       'Beechborough-Greenbrook (112)', 'Greenwood-Coxwell (65)',
       'Niagara (82)', 'Milliken (130)', 'Bayview Village (52)',
       'Rustic (28)', 'Thorncliffe Park (55)',
       'Bridle Path-Sunnybrook-York Mills (41)', 'Kennedy Park (124)',
       'Guildwood (140)', "Tam O'Shanter-Sullivan (118)",
       'Junction Area (90)', 'University (79)',
       'Willowridge-Martingrove-Richview (7)', 'Yorkdale-Glen Park (31)',
       'Willowdale West (37)', 'Lawrence Park North (105)',
       'Pleasant View (46)', 'Newtonbrook West (36)',
       'North Riverdale (68)', 'Thistletown-Beaumond Heights (3)',
       'Pelmo Park-Humberlea (23)', 'Etobicoke West Mall (13)',
       'Weston (113)', 'Regent Park (72)',
       'Playter Estates-Danforth (67)', 'Oakridge (121)',
       'Long Branch (19)', 'Centennial Scarborough (133)',
       'Highland Creek (134)', 'Blake-Jones (69)',
       'Glenfield-Jane Heights (25)', 'Bayview Woods-Steeles (49)',
       'Yonge-St.Clair (97)', 'Kingsway South (15)',
       'North St.James Town (74)'], dtype=object)

In [ ]:
KSI['NEIGHBOURHOOD'].value_counts()

Waterfront Communities-The Island (77)    646
West Humber-Clairville (1)                515
Bay Street Corridor (76)                  394
Rouge (131)                               378
Woburn (137)                              369
                                         ...
Playter Estates-Danforth (67)              25
Lawrence Park North (105)                  24
Guildwood (140)                            21
Maple Leaf (29)                            20
Lambton Baby Point (114)                   13
Name: NEIGHBOURHOOD, Length: 140, dtype: int64

In [ ]:
KSI['ObjectId'].unique()

array([    1,     2,     3, ..., 16858, 16859, 16860])

In [ ]:
KSI['ObjectId'].value_counts()

1        1
11231    1
11233    1
11234    1
11235    1
        ..
5625     1
5626     1
5627     1
5628     1
16860    1
Name: ObjectId, Length: 16860, dtype: int64